@font-face {
    font-family: 'PfStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: #89ffdc;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
}

#container {
    user-select: none;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 35px;
    box-sizing: border-box;
    min-width: 70%;
    min-height: 50%;
    max-width: 95vw;
    max-height: 95vh;

    font-family: 'PfStardust';
    background-color: white;
    color: #00ffb3;
}

#title {
    font-size: 0.9vw;
}

a {
    text-decoration: none;
    background-color: #89ffdc;
    color: white;
    padding: 1vw 2vw;
    border-radius: 2vw;
    line-height: 1.2;
    display: inline-block;
}

#startButton {
    font-size: 4vw;
    margin-bottom: 3vw;
    margin-top: auto;
    animation: blinking 0.5s infinite alternate;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

#asciiArt {
    white-space: pre;
    font-size: 1.6vw;
}

#result {
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #00ffb3;
    font-size: 4vw
}

#inputText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 5%;
    width: 80%;
    height: 40px;
    font-size: 1.8vw;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    opacity: 50%
}

#timeLeft {
    position: absolute;
    top: 5%;
    left: 5%;

}

#restart {
    font-size: 2vw;
    position: absolute;
    top: 10px;
    right: 20px;
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 1.2vw;
    }

    #startButton {
        font-size: 6vw;
    }

    #restart {
        font-size: 4vw;
        top: 4vw;
        right: 5vw;
    }

    #asciiArt {
        font-size: 3vw;
    }

    #result {
        font-size: 8vw;
    }
}